fastapi==0.134.0
uvicorn==0.34.0
pandas==3.0.1
scikit-learn==1.7.1
lightgbm==4.6.0
xgboost==3.2.0
joblib==1.5.3
earthengine-api==1.7.15
openpyxl==3.1.5
google-auth==2.48.0
jinja2==3.1.6
python-multipart==0.0.20
